<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <property name="access.logs.home" value="logs" scope="context" />
    <property name="access.logs.filename" value="access" scope="context" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[access] %h %A %u %t{yyyy-MM-dd HH:mm:ss} %D %r %q %s %b "%i{User-Agent}"</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${access.logs.home}/${access.logs.filename}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${access.logs.home}/archive/%d{yyyy-MM,aux}/${access.logs.filename}.%d{yyyy-MM-dd}.%i.zip
            </fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%h %A %u %t{yyyy-MM-dd HH:mm:ss} %D %r %q %s %b "%i{User-Agent}"</pattern>
        </encoder>
    </appender>

    <appender-ref ref="FILE" />

    <appender-ref ref="STDOUT" />
</configuration>