<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <property name="logs.home" value="logs" scope="context" />
    <property name="logs.filename" value="search" scope="context" />
    <property name="queries.logs.filename" value="queries" scope="context" />
    <property name="metrics.logs.filename" value="metrics" scope="context" />
    <property name="indexer.logs.filename" value="indexer" scope="context" />
  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %X{requestId} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.home}/${logs.filename}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5level [%thread] %X{requestId} %logger - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${logs.home}/archive/%d{yyyy-MM,aux}/${logs.filename}.%d{yyyy-MM-dd}.%i.zip
            </fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.apache.solr.core.SolrCore.Request" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.apache.solr.core.SolrCore.Request" level="WARN"/>
    
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
